################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AliBookStore/.vs/AliBookStore
/AliBookStore/AliBookStore/bin/Debug/netcoreapp3.1
/AliBookStore/AliBookStore/obj
